*{
    box-sizing: border-box;
    margin: 0px;
    /* padding: 0rem; */
}
.top-image-wrap{
    width: 100%;
    height: 780px;
    background-image: url('../images/Group 10.svg');
    background-repeat: no-repeat;
    background-size: cover;
}
.top-image-text{
    width: 60%;
    margin: 0 auto ;
    text-align: center;
    color: white;
    font-family: Poppins;
    padding-top: 250px;
}
.top-image-text p{
    font-family: Poppins;
    font-size: 12px;
    padding-top: 20px;
}

.blog-content-wrap{
    width: 60%;
    margin: 0 auto;
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #333333;
}
.blog-content-wrap p{
    margin-bottom: 30px;

}
.bitcoin-post{
    width: 50%;
    float: left;
}
.bitcoin-post img{
    width: 50%;
}
.bitcoin-post{
    float: left;
}
.bits{
    margin-top: 30px;
}

/* social media and promotions */
/* left wing */
.social-media-wrap{
    width: 60%;
    margin: 0 auto;
    padding-bottom: 100px;
    
}
.social-left{
    width: 50%;
    float: left;
}
.social-left a, .social-right a{
    font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 17px;
color: #989898;
text-decoration: none;
}
.social-left p{
    font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 25px;
color: #2F2F2F;
padding-bottom: 60px;
}
.social-left h2{
    width: 60%;
    /* text-align: right; */
    font-family: Poppins;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;

    padding-bottom: 20px;
}


/* right wing */
.social-right{
    width: 50%;
    float: right;
    text-align: right;

}
.social-right li{
   display: inline-block;
   line-height: 5px;
   margin-left: 10px;
   padding-bottom: 60px;

}

.social-right h2{
    /* float: right; */
    text-align: right!important;
    /* display: inline; */
}

.fa-twitter{
    background-color: #1590D8;
    color: white;
    padding: 10px;
    border-radius: 50%;
}
.fa-facebook-f{
    background-color: #272EAE;
    color: white;
    padding: 10px 15px 10px 15px;
    border-radius:50%;
}
.fa-youtube{
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 50%;
}

.social-right h2{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color:rgb(189, 50, 189);
    width: 60%;
    padding-bottom: 20px;
    text-align: right!important;
    margin-right: 0px;
}


/* comment scetion */
.comment-wrap{
    width: 60%;
    margin: 0 auto;
    font-family: Poppins;
    padding-top: 130px;
}
h3{
    font-weight: 800;
}
input{
    padding:15px ;
    margin-top: 30px;
}
textarea{
    width: 100%;
    height: 150px;
    padding:25px ;
    margin-top: 30px;
}
button{
    background: linear-gradient(179.37deg, #FD749B -13.56%, #281AC8 158.3%);
    border: 1px solid;
    border-radius: 10px 10px 10px 10px;
    padding:10px 20px 10px 20px;
    font-size: 8px;
    color: white;
}

/* footer */
footer {
    width: 100%;
    margin-top: 4.5rem;
    background-color: black;
    z-index: 0 !important;
    color: white;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    padding-top: 4%;
    padding-bottom: 4%;
}

.footer-logo {
    display: block;
}

.footer-logo div {
    color: white;
}

.bfooter {
    position: relative;
    left: 0.7rem;
    bottom: 1.2rem;
}

.footerlgtxt {
    position: relative;
    left: 1rem;
    bottom: 1rem;
}

.coinbaselinks {
    display: flex;
    justify-content: space-between;
}

.coinbaselinks div {
    padding: 0 0 0 6%;
}

.coinbaselinks .linkbox-1 {
    margin-right: 5rem;
}

.coinbaselinks div ul li,
a {
    list-style: none;
    color: white;
    font-size: 18px;
    line-height: 30px;
    /* or 167% */
    color: #FFFFFF;
}

.coinbaselinks a {
    text-decoration: none;
    color: #A2A2A2;
    font-size: 18px;
    line-height: 30px;
}

.boxes {
    display: flex;
    flex-direction: column;
}

.boxes .block1,
.block2 {
    display: flex;
    flex-direction: row;
}

.boxes .block1 div,
.block2 div {
    padding: 1%;
}